.vscode/launch.json
.vscode/tasks.json
CommanderBackgrounds/obj/CommanderBackgrounds.csproj.nuget.dgspec.json
CommanderBackgrounds/obj/CommanderBackgrounds.csproj.nuget.g.props
CommanderBackgrounds/obj/CommanderBackgrounds.csproj.nuget.g.targets
CommanderBackgrounds/obj/project.assets.json
CommanderBackgrounds/obj/project.nuget.cache
CommanderBackgrounds/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.AssemblyInfo.cs
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.AssemblyInfoInputs.cache
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.assets.cache
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.csproj.AssemblyReference.cache
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.GlobalUsings.g.cs
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.GeneratedMSBuildEditorConfig.editorconfig
CommanderBackgrounds/bin/Debug/net6.0/CommanderBackgrounds.deps.json
CommanderBackgrounds/bin/Debug/net6.0/CommanderBackgrounds.dll
CommanderBackgrounds/bin/Debug/net6.0/CommanderBackgrounds.exe
CommanderBackgrounds/bin/Debug/net6.0/CommanderBackgrounds.pdb
CommanderBackgrounds/bin/Debug/net6.0/CommanderBackgrounds.runtimeconfig.json
CommanderBackgrounds/obj/Debug/net6.0/apphost.exe
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.csproj.CoreCompileInputs.cache
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.csproj.FileListAbsolute.txt
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.dll
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.genruntimeconfig.cache
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.pdb
CommanderBackgrounds/obj/Debug/net6.0/ref/CommanderBackgrounds.dll
CommanderBackgrounds/obj/Debug/net6.0/refint/CommanderBackgrounds.dll
CommanderBackgrounds/bin/Debug/net6.0/CsvHelper.dll
.gitignore
CommanderBackgrounds/obj/Debug/net6.0/CommanderBackgrounds.csproj.CopyComplete
